body {
 font-family: 'Nanum Gothic', sans-serif; 
  font-weight: bold;
  background-image: url(barn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header{
  text-align: center;
}

h1 {
  font-weight: 800;
}

#add-animal {
  font-weight: bold;
}

.animal-item {
  padding: 10px;
  float: left;
}

button,
input[type="submit"] {
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  /* background: #659a98; */
  background: #0a662e;
  border: 0;
  border-radius: 5px;
}

button:hover,
input[type="submit"]:hover {
  background: #063d1b;
}

button.active {
  background: #063d1b;
}

#animals {
  width: 80%;
}

form {
  width: 20%;
  float: right;
}